{% extends 'shared/_MainLayout.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <section id="form"><!--form-->

            <div class="row">
                <div class="col-sm-4">
                    <div class="signup-form"><!--sign up form-->
                        <h2>ثبت نام کاربـر جدیـد</h2>
                        <form method="post" action="{% url 'register' %}">
                            {{ user_form.username }}
                            {{ user_form.first_name }}
                            {{ user_form.email }}
                            {{ user_form.password }}
                            {{ user_form.password2 }}
                            {% csrf_token %}
                            <button type="submit" value="Creat my account">ثبت نام</button>
                        </form>
                    </div><!--/sign up form-->
                </div>
            </div>
        </section>

    </div>
{% endblock %}