{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {#    <title>صفحه اصلی | فروشگاه کارزیبا</title>#}
    <title>{{ title }}</title>
    {% include 'shared/_HedearRefrences.html' %}

</head>
<body>

{%  if request.user.is_authenticated %}
<ul class="menu">
    <li {% if section == 'dashboard' %} class="selected"{% endif %}><a href="{% url 'dashboard' %}"> My Dashboard</a>
    </li>
</ul>
{% endif %}


{% include 'shared/Header.html' %}
{% block content %}

{% endblock %}

{% include 'shared/Footer.html' %}
{% include 'shared/_FooterRefrences.html' %}
</body>
</html>